<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Dashboard/dashboard.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="Heroes/heroes.css" />
    <link rel="stylesheet" href="HeroesDetails/heroesDetails.css" />
</head>
<body>
    <div ng-app="myRoutingApp" ng-controller="mainController" class="page1">
        <h1>Tour of heroes</h1>
        <div class="buttondiv">
            <button class="tab-btn" ng-click="goToPage('/dashboard')">Dashboard</button>
            <button class="tab-btn" ng-click="goToPage('/heroes')">Heroes</button>
        </div>
        <div ng-view></div>
    </div>
    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="Dashboard/dashboardController.js"></script>
    <script src="Heroes/heroesController.js"></script>
    <script src="mainController.js"></script>
    <script src="HeroesDetails/herosDetailsController.js"></script>
</body>
</html>